@font-face {
  font-family: 'League Spartan';
  src: local('League Spartan'), url('~@/assets/fonts/leaguespartan-bold.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Light';
  src: local('Avenir Light'), url('~@/assets/fonts/avenir-light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Black';
  src: local('Avenir Black'), url('~@/assets/fonts/avenirltstd-black.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Book';
  src: local('Avenir Book'), url('~@/assets/fonts/avenirltstd-book.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Roman';
  src: local('Avenir Roman'), url('~@/assets/fonts/avenirltstd-roman.otf') format('truetype');
  font-display: swap;
}
