/*  ---------------------------------------------------
    Breakpoints
------------------------------------------------------- */

$mobile: 450px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1366px;
$desktop-large: 1560px;
$desktop-extra-large: 2010px;

/*  ---------------------------------------------------
    Fluid properties
------------------------------------------------------- */

$mobile-no-unit: 450;
$desktop-no-unit: 1366;
