$primary: #292929;
$grey: #738290;
$grey2: #f4f4f4;
$grey3: #eaeaea;
$grey4: #5e5e5e;
$accent1: #c0eb0f;
$accent2: #51e5ff;
$accent2dark: #3dacbf;
$accent2transparent: #3dacbfb5;
$accent2Lighter: #dae5f0;
$accent3: #f25757;
$success: #4faf64;
$warning: #f4b942;
$error: #d72638;
$blue: #bbd2ee;
$bluedark: #8c9db3;
$blueAutodesk: #00bfff;
$white: #ffffff;
$dark: #0d1b2a;
$light: #f1f2f4;
$bordergrey: #e4e6e7;
$background: #e5e5e5;
$outstanding: #c4c4c4;
$headinggrey: #bcbcba;
$backgroundGrey: #343434;
$textGrey: #757575;
