.button {
  @include fluid-property('font-size', 12, 14);
  font-family: 'Avenir Roman', sans-serif;
  padding: 0.75rem 1rem;
  width: fit-content;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid $primary;
  background-color: transparent;
  position: relative;
}

.button--accent1 {
  background-color: $accent1;
  border: 1px solid $accent1;
  color: $primary;
}

.button--accent2 {
  background-color: $accent2dark;
  border: 1px solid $accent2dark;
  color: $white;
}

.button--accent3 {
  background-color: $accent3;
  border: 1px solid $accent3;
  color: $white;
}

.button--error {
  background-color: $error;
  border: 1px solid $error;
  color: $white;
}

.button--primary {
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
}

.button--blue {
  background-color: $blue;
  color: $primary;
  border: 1px solid $blue;
}

.button--inverted {
  background-color: inherit;
  border: 1px solid $primary;
  color: $primary;
}

.button--inverted--accent3 {
  background-color: inherit;
  border: 1px solid $accent3;
  color: $accent3;
}

.button--outline {
  background-color: inherit;
  border: 1px solid $accent2dark;
  color: $accent2dark;
}

.button--large {
  @include fluid-property('font-size', 16, 20);
}

.button--small {
  padding: 0.25rem 0.5rem;
}

.button--text {
  border: none;
  color: $primary;
  padding: 0;
}

.button--borderless {
  border: none;
  color: $primary;
}

.button--borderless--white {
  border: none;
  background-color: inherit;
  color: $white;
}

.button--inactive {
  cursor: auto;
}

.button--select {
  min-width: 8.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  background-color: $grey3;
  border: 1px solid $primary;
  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &--img {
    transform: rotate(0deg);
    transition: transform 0.25s;
    margin-left: auto;
    height: 0.75rem;
    width: 0.75rem;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.dropdown--select {
  min-width: 10.5rem;
  padding: 0.75rem 1rem;
  background-color: $grey3;
  border: none;
  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &--img {
    transform: rotate(0deg);
    transition: transform 0.25s;
    margin-left: auto;
    height: 0.75rem;
    width: 0.75rem;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.dropdown--select__border {
  min-width: 10.5rem;
  padding: 0.75rem 1rem;
  background-color: $grey3;
  border: 1px solid $primary;
  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &--img {
    transform: rotate(0deg);
    transition: transform 0.25s;
    margin-left: auto;
    height: 0.75rem;
    width: 0.75rem;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.button--filter {
  display: block;
  width: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  color: $white;
  font-weight: 800;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), $accent2;
  border: 0px solid $primary;
  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &--label {
    padding-right: 2rem;
  }

  &--img {
    margin-left: auto;
  }
}

.button--input {
  background-color: $white;
  border: 1px solid $primary;
  border-radius: 5px;

  padding-right: 0.25rem;

  display: flex;

  .button-input {
    border: none;
    max-width: 2.25rem;

    &:focus {
      outline: none;
    }
  }

  .button-img {
    border: none;
    background-color: inherit;

    &:hover {
      cursor: pointer;
    }
  }

  &--img {
    transform: rotate(0deg);
    transition: transform 0.25s;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.button--disabled {
  background-color: $grey;
  border: 1px solid $grey;
  color: $white;
  cursor: not-allowed;
}
